
<br>

<h1>Bienvenue sur The Gossip Project. </h1>

<h2> Inscris-toi pour écrire des gossips avec nous et accéder à la communauté ! </h2>

<form action="/" method="post">

  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  Choisis ton pseudo : <br>
  <input type="text" name="author"> <br>
  Choisis un mot de passe : <br>
  <input type="text" name="content"> <br>
  <input type="submit" name="S'inscrire">

</form>

 <h3> En attendant, tu peux consulter les gossips ci-dessous : </h3>

 <% @gossips.each do |key| %>

      L'auteur <%= key.author %> a balancé que <%= key.content %> <br>
      
   <% end %>







